@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Sans+3:wght@300&display=swap');


*{
    margin:0;
}
.header-wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: crimson;
    color:white;
    width:100%;
    height:auto;
    
}
.head-title{
    width:80%;
    text-align: center;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}
.head-cart{
    width:10%;
}
.MuiSvgIcon-root{
    text-decoration : none;
     color:whitesmoke; 
}
.head-cart-count{
    border-radius: 50%;
    background: black;
    padding-left: 5px;
    padding-right: 5px;
}
@media(min-width:400px)
{
 .home-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: center;
     }
}
@media(max-width:400px)
{
 .home-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
}


.home-item-wrapper{
    height: 200px;
    width:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #bbb1b1;
    margin:50px;
    border-radius: 5%;
}
.home-item-wrapper:hover{
    background-color: whitesmoke;
    border-radius: 8%;
   
    box-shadow: 5px 5px 10px 10px #888888;
}


.home-item-image{
    height:150px;
    width:150px;
   margin-top:10px;
   border-radius: 50%;
}

.home-item-name{
    margin-top:10px;
    text-decoration: underline white;
    color:black;
}

.product-wrapper{
    display:flex;
    flex-direction:column;
}

.product-item-wrapper{
    display:flex;
    flex-direction:row; 
     justify-content: center; 
    flex-wrap: wrap;
    width:100%;
    border-top:3px solid #988f88;
    margin:10px;
    margin-left: 0px;
    
}

.product-name{
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-image{
    width: 160px;
    height:130px;
}
.image-size{
    width: 160px;
    height:130px;
    margin:10px;
}

.product-details{
    width:50%;
}

.cart-btn{
    margin-top:25px;
   
    
}
.btn{
    width:120px;
    background:red;
    color:whitesmoke;
    border:none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 5px;
    

}
.btn:hover{
    width:130px;
}
.product-title{
    margin-left:15px;
}

.placeholder{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Total-price{
    margin:20px;
}

.place-order{
    background: red;
    color:white;
    font-size: 20px;
    display:flex;
    align-items: center;
    flex-direction: row;
    height:30px;
    text-decoration:none;
    text-decoration: underline red;
}